
@{
    ViewBag.Title = "CapNhatThongTinTK";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@using QL_Resort.Models
<div class="container" style="padding-top:90px">
    <div class="sign-up__form">
        @using (Html.BeginForm())
        {
            <div class="sign-up__content">
                <h2 class="sign-up__title" style="text-align: center">Cập Nhật Thông Tin Cá Nhân</h2>

                <label>Họ tên:  &nbsp</label><input class="sign-up__inp" type="text" name="HoTen" style=" text-transform: none;" placeholder="Họ tên" /><h6 class="text-danger">@ViewData["LoiHoTen"]</h6>
                <label>Ngày sinh:  &nbsp</label><input class="sign-up__inp" type="date" name="NgaySinh"  style=" text-transform: none;" placeholder="Ngày/Tháng/Năm"  /><h6 class="text-danger">@ViewData["LoiNgaySinh"]</h6>
                <div>
                    <label>CCCD:  &nbsp</label><input class="sign-up__inp" type="text" name="Cccd" style=" text-transform: none;" placeholder="Căn cước công dân" /><h6 class="text-danger">@ViewData["LoiCccd"]</h6>
                    <label>SDT:  &nbsp</label><input class="sign-up__inp" type="text" name="sdt" style=" text-transform: none;" placeholder="Số điện thoại" /><h6 class="text-danger">@ViewData["LoiSdt"]</h6>
                </div>
                <label>Địa chỉ:  &nbsp</label><input class="sign-up__inp" type="text" name="diachi" style=" text-transform: none;" placeholder="Địa chỉ" /><h6 class="text-danger">@ViewData["LoiDiaChi"]</h6>
                <label>Giới tính:  &nbsp</label><div class="sign-up__inp" style=" text-transform: none; text-align: center">
                    <input type="radio" name="GioiTinh" value="Nam" checked>&nbsp;&nbsp;Nam
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="GioiTinh" value="Nữ">&nbsp;&nbsp;Nữ
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="GioiTinh" value="Khác">&nbsp;&nbsp;Khác
                </div>
                <div class="sign-up__buttons" style="padding-left:170px">
                    <button class="btn btn--signin" type="submit" style="text-align:center">Cập nhật</button>
                </div>
            </div>
        }
    </div>
</div>

