
@{
    ViewBag.Title = "CapNhatThongTinTK";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@using QL_Resort.Models
@model dynamic
<div class="container" style="padding-top:90px">
    <div class="sign-up__form">
        @using (Html.BeginForm())
        {
            <div class="sign-up__content">
                <h2 class="sign-up__title" style="text-align: center">Cập Nhật Thông Tin Cá Nhân</h2>

                <label>Họ tên:  &nbsp</label><input value="@Model.Info.HoTen" class="sign-up__inp" type="text" name="HoTen" style=" text-transform: none;" placeholder="Họ tên" /><h6 class="text-danger">@(ViewData["LoiHoTen"] ?? "")</h6>
                <label>Ngày sinh:  &nbsp</label><input id="ngaySinh" class="sign-up__inp" type="date" name="NgaySinh" style=" text-transform: none;" placeholder="Ngày/Tháng/Năm" /><h6 class="text-danger">@(ViewData["LoiNgaySinh"] ?? "")</h6>

                <label>CCCD:  &nbsp</label><input value="@Model.Info.CanCuoc" class="sign-up__inp" type="text" name="Cccd" style=" text-transform: none;" placeholder="Căn cước công dân" /><h6 class="text-danger">@(ViewData["LoiCccd"] ?? "")</h6>
                <label>SDT:  &nbsp</label><input value="@Model.Info.Sdt" class="sign-up__inp" type="text" name="sdt" style=" text-transform: none;" placeholder="Số điện thoại" /><h6 class="text-danger">@(ViewData["LoiSdt"] ?? "")</h6>

                <label>Địa chỉ:  &nbsp</label><input value="@Model.Info.DiaChi" class="sign-up__inp" type="text" name="diachi" style=" text-transform: none;" placeholder="Địa chỉ" /><h6 class="text-danger">@(ViewData["LoiDiaChi"] ?? "" )</h6>
                <label>Giới tính:  &nbsp</label><div class="sign-up__inp" style=" text-transform: none; text-align: center">
                    <input type="radio" name="GioiTinh" value="Nam" checked="@Model.Info.GioiTinh">&nbsp;&nbsp;Nam
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="GioiTinh" value="Nữ" checked="@(!Model.Info.GioiTinh)">&nbsp;&nbsp;Nữ
                </div>
                <div class="sign-up__buttons" style="padding-left:170px">
                    <button class="btn btn--signin" type="submit" style="text-align:center">Cập nhật</button>
                </div>
            </div>
        }
    </div>
</div>
<script>
    document.getElementById("ngaySinh").value = "@(Model.Info.NgaySinh.ToString("yyyy/MM/dd"))";

</script>
@if (Session["Taotk"] != null)
{
    <script type="text/javascript">
        
        alert("Tạo tài khoản nhân viên thành công");
    </script>
    Session["Taotk"] = null;
}