
@{
    ViewBag.Title = "DatPhong";
    Layout = "~/Views/Shared/_LayoutQL2.cshtml";
}
@model dynamic
@using (Html.BeginForm("ThanhToan", "Admin", new { @idlp = @Model.LayLP.Id, @strURL = Request.Url.ToString() }))
{
   <div style=" padding-bottom:100px">
        <div class="row" style="margin-top:10px;margin-bottom:30px">
            @*<div class="col-md-1"></div>*@
            <div class="col-md-4" style="padding-left:80px">
                <a><label>Ngày Đặt &nbsp&nbsp</label><input type="date" id="ngaydat" name="ngaydat" value="ngaydat" onchange="test()" style="width:250px;height:40px" /></a>
            </div>
            <div class="col-md-3">
                <a><label>Ngày Trả &nbsp&nbsp</label><input type="date" id="ngaytra" name="ngaytra" value="ngaytra" onchange="test()" style="width:250px;height:40px" /></a>
            </div>
            <div class="col-md-2">
                <p id="soPhongTrong"></p>
            </div>
            <div style="padding-left:40px">
                @*<div class="row">
                <input type="text" id="uudai" name="uudai" placeholder="Mã giảm giá" style="width:200px;height:40px" /> &nbsp&nbsp
                <button type="submit" class="book_now_btn button_hove" style="border-radius:10px; width:120px;height:40px">Áp dụng</button>
            </div>*@
                <a>
                    <label>Số Lượng Phòng &nbsp&nbsp</label>@*<input type="number" id="txtsoluong" name="txtsoluong"
                min="1" max="10" style="width:100px;height:30px; padding-left:30px">*@
                    <input type="number" id="txtsoluong" name="txtsoluong" min="1"
                           onchange="changeCount()" style="width:100px;height:30px; padding-left:30px">
                </a>
            </div>
        </div>

        <div style="margin-left:50px; margin-right:50px">
            <div class="row" style="padding-left: 30px; padding-bottom:20px">
            </div>
            <div class="row" style="padding-left:30px">
                <div class="col-md-5">
                    <div>
                        <div class="row" style="width: 100%; padding-bottom: 20px">
                            <h3>Tên phòng</h3>
                        </div>
                        <div class="row" style="font-size:20px">
                            <p>@Model.LayLP.TenLoai</p>
                        </div>
                        <br />
                    </div>
                </div>
                <div class="col-md-2" style="padding-left: 50px">
                    <div class="row" style="padding-bottom:20px">
                        <h3>Sức chứa</h3>
                    </div>
                    <div class="row" style="font-size:14px">
                        <div>
                            <p style="font-size:14px" name="SLNL" id="SLNL">Số lượng người lớn: @Model.LayLP.SoLuongNguoiLon</p>
                            <p style="font-size:14px" name="SLTE" id="SLTE">Số lượng trẻ em: @Model.LayLP.SoLuongTreEm</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" style="padding-left: 30px">
                    <div class="row" style="padding-bottom:20px">
                        <h3>Giá</h3>
                    </div>
                    <div class="row" style="font-size:16px">
                        <p id="Gia">@string.Format("{0:0,0 }", Model.LayLP.Gia)VNĐ<small>/Đêm</small></p><br /><br />
                        @*<p style="font-size:14px">Giá Đã Giảm VNĐ<small>/Đêm</small></p>*@
                        <a>
                            <label>Tiền cọc: &nbsp&nbsp</label>
                            <input type="text" name="tienCoc" id="tienCoc" value="" data-type="currency" placeholder="(VNĐ) 1,000"style="width:170px">
                        </a>
                    </div>
                </div>
                <div class="col-md-3" style="padding-left: 30px">
                    <div class="row" style="padding-bottom:20px">
                        <h3>Tổng tiền</h3>
                    </div>
                    <div class="row" style="padding-bottom:30px">
                        @*<p style="font-size:20px; color:red">700.000 VNĐ</p>*@
                        <input id="sum" name="sum" value="0 VNĐ" style="width: 250px; height: 40px; font-size: 14px; padding-left: 10px; user-select:none" readonly />
                    </div>
                    @*<div class="row">
                            <button type="submit" class="btn theme_btn button_hover">Thanh Toán</button>
                        </div>*@
                    <button type="submit" class="btn theme_btn button_hover">Đặt Phòng</button>
                </div>
            </div>
        </div>
        <script>
    IDBCursor
        //validate
        function validateTwoDates() {
            var $dateStart = $("#ngaydat").val();
            var $dateEnd = $("#ngaytra").val();
            return ($dateEnd > $dateStart);
        }
            function addOneDay(date = new Date()) {
                date.setDate(date.getDate() + 1);

                return date;
            }

            function changeCount() {
                console.log('change')
                if ($("#ngaydat").val() && $("#ngaytra").val()) {

                    $('#sum').val(
                      `${Intl.NumberFormat().format($("#txtsoluong").val() * (@Model.LayLP.Gia * cal_date(new Date($('#ngaydat').val()), new Date($('#ngaytra').val()))))} VNĐ`
                    );
                }
            }

        function test() {
            if (new Date((new Date(Date.now())).yyyymmdd()).getTime() > new Date((new Date($('#ngaydat').val())).yyyymmdd()).getTime()) {
                alert('Ngày đặt phải lớn hơn ngày hiện tại')
                $('#ngaydat').val('')
                return;
            }
            if (new Date((new Date(Date.now())).yyyymmdd()).getTime() > new Date((new Date($('#ngaytra').val())).yyyymmdd()).getTime()) {
                alert('Ngày trả phải lớn hơn ngày hiện tại')
                $('#ngaydat').val('')
                return;
            }
            if ($("#ngaydat").val() && $("#ngaytra").val()) {
                $("#txtsoluong").val('')

                if (!validateTwoDates()) {
                    alert('Ngày trả phải lớn hơn ngày đặt');
                    $("#ngaytra").val('')
                    return;
                }

                var data = {
                    ngayDat: new Date($("#ngaydat").val()).yyyymmdd(),
                    ngayTra: new Date($("#ngaytra").val()).yyyymmdd(),
                };

                $.ajax({
                    type: "POST",
                    url: "/Admin/DatPhong",
                    data: data,
                    success: (data) => {
                        console.log(data.listPhongTrong);
                        $('#soPhongTrong').text(
                            `Số lượng phòng trống: ${data.listPhongTrong.length == 0 ? "Hết phòng" : data.listPhongTrong.length}`
                        )
                        document.getElementById("txtsoluong").max = `${data.listPhongTrong.length}`;
                    }
                });

}

            @*if ($("#txtsoluong") == "" || $("#txtsoluong") == 1) {
                $('#sum').val(@Model.LayLP.Gia * cal_date(new Date($('#ngaydat').val()), new Date($('#ngaytra').val())));
                return;
            }*@

            return;
                }


        function cal_date(date_checkin, date_checkout) {
            let time_checkin = date_checkin.getTime();
            let time_checkout = date_checkout.getTime();
            if (time_checkout < time_checkin) {
                throw 'Check out > check in';
            }

            return (1 + Math.floor((time_checkout - time_checkin) / (24 * 3600 * 1000)));
                }

                        //$.ajax({
                        //    url: '/Phong/DatPhong',
                        //    /*data: { _to: ${ JSON.stringify(email_.trim()) }},*/
                        //    type: 'POST',
                        //    contentType: "application/json; charset=utf-8",
                        //        success: (data) => {
                        //        codeXacNhan = data.d;
                        //        Toast.fire({
                        //            icon: 'success',
                        //            title: 'Kiểm tra email để lấy mã xác nhận!'
                        //        });
                        //    },
                        //        error: (request, error) => {
                        //            // This callback function will trigger on unsuccessful action
                        //            Toast.fire({
                        //                icon: 'error',
                        //                title: 'Đã xảy ra lỗi! Vui lòng thử lại.'
                        //            });
                        //        }
                        //});

                        //    }

            Date.prototype.yyyymmdd = function () {
                var mm = this.getMonth() + 1; // getMonth() is zero-based
                var dd = this.getDate();

                return [this.getFullYear(),
                (mm > 9 ? '' : '0') + mm,
                (dd > 9 ? '' : '0') + dd
                ].join('-');
            };




            document.querySelector("#ngaydat").value = (new Date(Date.now())).yyyymmdd();
            document.querySelector("#ngaytra").value = addOneDay().yyyymmdd();
            test();
            </script>
    </div>
}
@if (Session["TB"] != null)
{
    <script type="text/javascript">
        alert("Hết phòng, vui lòng chọn phòng khác hoặc mốc thời gian khác")
        </script>
    Session["TB"] = null;
}
@if (Session["sl"] != null)
{
    <script type="text/javascript">
        alert("Quá số lượng phòng hiện có!!!")
    </script>
    Session["sl"] = null;
}



@if (Session["EmptyNgay"] != null)
{
    if (Session["EmptyNgay"].ToString() == "ngaydat")
    {
        <script type="text/javascript">
            alert("Vui lòng nhập ngày đặt");
        </script>
    }
    else if (Session["EmptyNgay"].ToString() == "ngaytra")
    {
        <script type="text/javascript">
            alert("Vui lòng nhập ngày trả");
        </script>
    }
    else if (Session["EmptyNgay"].ToString() == "soLuong")
    {
        <script type="text/javascript">
            alert("Vui lòng nhập số lượng phòng");
        </script>
    }

    Session["EmptyNgay"] = null;
}

<script>
    $("input[data-type='currency']").on({
        keyup: function () {
            formatCurrency($(this));
        },
        blur: function () {
            formatCurrency($(this), "blur");
        }
    });


    function formatNumber(n) {
        // format number 1000000 to 1,234,567
        return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    }


    function formatCurrency(input, blur) {

        // get input value
        var input_val = input.val();

        // don't validate empty input
        if (input_val === "") { return; }

        // original length
        var original_len = input_val.length;

        // initial caret position 
        var caret_pos = input.prop("selectionStart");

        input_val = formatNumber(input_val);
        input_val = "(VNĐ) " + input_val;

        // send updated string to input
        input.val(input_val);

        // put caret back in the right position
        var updated_len = input_val.length;
        caret_pos = updated_len - original_len + caret_pos;
        input[0].setSelectionRange(caret_pos, caret_pos);
    }
</script>