@{
    ViewBag.Title = "HienThi";
    Layout = "~/Views/Shared/_LayoutQL.cshtml";
}
@model dynamic
@using QL_Resort.Models
<div style="padding-left:300px; padding-top:100px">
    @using (Html.BeginForm("XacNhanDatPhong", "Admin"))
    {
        <div style="width: 65%; height:650px;color: black; background-color: white; border-radius: 10px">
            <div class="sign-up__content">
                <h2 class="sign-up__title" style="text-align:center">Thông Tin Đặt Phòng</h2>
                <h3 style="color:chocolate">Mã:   @Model.TTDP.Id_DP</h3>
                <div class="row">
                    <div class="col-md-6" style="font-size:15px">
                        <p>Số ngày ở</p>
                        <p>Số lượng người lớn</p>
                        <p>Số lượng trẻ em</p>
                        <h4>Danh sách phòng</h4>
                    </div>
                    <div class="col-md-6" style="padding-left: 160px; font-size: 15px">
                        <p>@Model.TTDP.Songayo</p>
                        <div class="row" style="padding-left:14px">
                            @for (int i = 0; i < Model.TTDP.Slnl.Count; i++)
                            {
                                <p>@Model.TTDP.Slnl[i]&nbsp&nbsp</p>
                            }
                        </div>
                        <div class="row" style="padding-left:14px">
                            @for (int i = 0; i < Model.TTDP.Slte.Count; i++)
                            {
                                <p>@Model.TTDP.Slte[i]&nbsp&nbsp</p>
                            }
                        </div>
                            @*<p>@Model.TTDP.Slnl</p>
            <p>@Model.TTDP.Slte</p>*@
                        </div>
                    </div>
                <div class="row" style="padding-left: 15px; font-size: 15px">
                    <p>Phòng số:&nbsp</p>
                    @for (int i = 0; i < Model.TTDP.CactenP.Count; i++)
                    {
                        <p>@Model.TTDP.CactenP[i]&nbsp&nbsp</p>
                    }
                </div>
                <div class="row" style="font-size:15px">
                    <div class="col-md-6">
                        <p style="color: chocolate; font-size: 13px">Phòng</p>
                        @for (int i = 0; i < Model.TTDP.Tenphong.Count; i++)
                        {
                            <p>@Model.TTDP.Tenphong[i]&nbsp&nbsp</p>
                        }
                    </div>
                    <div class="col-md-3">
                        <p style="color: chocolate; font-size: 13px">Số lượng</p>
                        <p>@Model.TTDP.Soluong</p>
                    </div>
                    <div class="col-md-3">
                        <p style="padding-left: 40px; color: chocolate; font-size: 13px">Giá</p>
                        @for (int i = 0; i < Model.TTDP.GiaLP.Count; i++)
                        {
                            <p>@string.Format("{0:0,0 }",@Model.TTDP.GiaLP[i])<ins>đ</ins></p>
                        }
                    </div>
                    <p style="padding-left:15px">-------------------------------------------------------------------------------------------</p>
                </div>
                <div class="row" style="font-size:15px">
                    <div class="col-md-6">
                        <p>Tổng hoá đơn</p>
                    </div>
                    <div class="col-md-3">
                        <p>@Model.TTDP.Soluong</p>
                    </div>
                    <div class="col-md-3">
                        <p>@string.Format("{0:0,0 }",@Model.TTDP.Tongtien) <ins>đ</ins></p>
                    </div>
                </div>
                <div class="row" style="padding-left:200px; padding-top:50px">
                    <button type="submit" class="btn theme_btn button_hover">Thanh Toán</button>
                </div>
            </div>
        </div>
    }
</div>


