
@{
    ViewBag.Title = "HoaDon";
    Layout = "~/Views/Shared/_LayoutQL2.cshtml";
}
@using QL_Resort.Models
@model dynamic
<div style="padding-top:5px; padding-bottom:50px">
    @using (Html.BeginForm())
    {
        <div class="search col-md-6" style="padding-left:160px">
            <input type="text" id="txtTK" name="txtTK" class="searchTerm" placeholder="Tìm kiếm" style="width:400px;height:36px">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <br />
        <h2 style="text-align:center;padding-bottom:30px">Danh Sách Hoá Đơn</h2>
        <div>
            <table class="table" style="width:80%; margin:auto; border:hidden">
                <tr style="border-bottom:1px solid black">
                    <th>ID_HD</th>
                    <th>ID_DP</th>
                    <th>TÊN NHÂN VIÊN LẬP</th>
                    <th>NGÀY TẠO HOÁ ĐƠN</th>
                    <th style="text-align:center">CHỨC NĂNG</th>
                </tr>
                @foreach (var item in Model.DSHD)
                {
            <tr>
                <td>@item.Id_HD</td>
                <td>@item.IdDP</td>
                <td>@item.TenNV</td>
                <td>@item.NgayTaoHD</td>
                @*<td style="text-align:center"><a href="@Url.Action("Index", "Customer", new { idhd = item.Id_HD})" class="btn theme_btn" style="background-color:limegreen; color:white">Xem Chi Tiết</a></td>*@
                <td style="text-align:center"><a href="@Url.Action("ExportCustomers", "Customer", new { idhd = item.Id_HD})" class="btn theme_btn button_hover">Xuất hoá đơn</a></td>
</tr>
                }
            </table>
        </div>
    }
</div>

