
@{
    ViewBag.Title = "ThongTinTK";
    Layout = "~/Views/Shared/_LayoutQL.cshtml";
}

@using QL_Resort.Models
@model dynamic
<div class="container" style="padding-left:300px">
    <div class="main-body">
        <div class="row gutters-sm">
            @*<div class="col-md-1">
                </div>*@
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Họ Tên</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Info.HoTen
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Giới Tính</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @(Model.Info.GioiTinh? "Nam": "Nữ")
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Info.Email
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Ngày Sinh</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @(Model.Info.NgaySinh.ToString("dd/MM/yyyy"))
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">CCCD</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Info.CanCuoc
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Số Điện Thoại</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Info.Sdt
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Địa Chỉ</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Info.DiaChi
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Mã Thành Viên</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Info.Id_tk
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <center>
                                    <a class="btn btn-info" href="@Url.Action("CapNhatThongTinTK", "Admin", new { id_tk = Model.Info.Id_tk as String })">Cập Nhật</a>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@if (Session["Taotk"] != null)
{
    <script type="text/javascript">

        alert("Cập nhật thông tin thành công");
    </script>
    Session["Taotk"] = null;
}

