
@{
    ViewBag.Title = "TimKiemDatTruocGo";
    Layout = "~/Views/Shared/_LayoutQL2.cshtml";
}
@using QL_Resort.Models
@model dynamic
<div style="padding-top:5px; padding-bottom:50px">
    @using (Html.BeginForm("TimKiemDatTruocGo", "Admin"))
    {
        <div class="search col-md-6" style="padding-left: 160px">
            <input type="text" id="txtTK" name="txtTK" class="searchTerm" placeholder="Tìm kiếm" style="width:400px;height:36px">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <br />
        <h2 style="text-align:center;padding-bottom:30px">Danh Sách Đặt Phòng</h2>
        <div>
            <table class="table" style="width:80%; margin:auto; border:hidden">
                <tr style="border-bottom:1px solid black">
                    <th>ID</th>
                    <th>TÊN NGƯỜI ĐẶT</th>
                    <th>NGÀY ĐẶT</th>
                    <th>NGÀY TRẢ</th>
                </tr>
                @foreach (var item in Model.TTDP)
                {
                    <tr>
                        <td>@item.Id_DP</td>
                        <td>@item.Ten_kh</td>
                        <td>@item.Ngaydat</td>
                        <td>@item.Ngaytra</td>
                        <td style="text-align:center"><a href="@Url.Action("HienThi", "Admin", new { id = item.Id_DP })" class="btn theme_btn" style="background-color:limegreen; color:white">Hiển Thị</a></td>
                    </tr>
                }
            </table>
        </div>
    }
</div>



